Pipfile.lock
.vscode/
old-code/__pycache__
*.npy
resources/profiles/profiles-5C-5V/vcr
.idea/
flat-code/resources/input/
flat-code/resources/output/
flat-code/resources/random/

*/__pycache__/
*/*/__pycache__/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
